openapi: 3.1.0
info:
  title: 300 OPS Platform API
  description: |
    300 OPS is an engineering platform for smart buildings. This API provides
    comprehensive access to project management, engineering evaluation,
    prescription management, procurement, document generation, integrations,
    and AI services.
  version: 1.0.0
  contact:
    name: 300 OPS Support
    email: api@300ops.com
  license:
    name: Proprietary
    url: https://300ops.com/license

servers:
  - url: https://api.300ops.com/v1
    description: Production server
  - url: https://staging-api.300ops.com/v1
    description: Staging server

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Authentication and authorization endpoints
  - name: Profiles
    description: User profile management
  - name: Projects
    description: Project lifecycle management
  - name: Buildings
    description: Building hierarchy and management
  - name: Floors
    description: Floor management within buildings
  - name: Rooms
    description: Room and space management
  - name: Requirements
    description: Technical and functional requirements
  - name: Experiences
    description: User experience definitions
  - name: Systems
    description: Building systems management
  - name: Subsystems
    description: Subsystem management
  - name: Equipment
    description: Equipment management and library
  - name: Equipment Library
    description: Master equipment catalog
  - name: Engineering Engine
    description: Core engineering evaluation engine
  - name: Prescriptions
    description: Technical prescriptions and recommendations
  - name: Technical Zones
    description: Zone definitions and management
  - name: Procurement
    description: Procurement and value engineering
  - name: Suppliers
    description: Supplier management
  - name: Clients
    description: Client management
  - name: Documents
    description: Document generation and management
  - name: Integrations
    description: System integrations and connectors
  - name: AI Services
    description: NLP, voice, and AI pattern services
  - name: AI Local Servers
    description: On-premise AI server management
  - name: AI Patterns
    description: Learned pattern management
  - name: Explanation Logs
    description: AI decision explanations
  - name: Domain Events
    description: Event logging and auditing
  - name: Privacy Matrix
    description: Privacy and compliance matrix
  - name: Engineering Rules
    description: Rule-based engineering logic
  - name: Proposals
    description: Proposal management
  - name: WebSocket
    description: Real-time streaming endpoints

paths:
  # ─────────────────────────────────────────────────────────
  # AUTHENTICATION
  # ─────────────────────────────────────────────────────────
  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      description: Authenticate a user and return JWT tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Refresh an expired access token using a refresh token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user
      description: Invalidate the current session tokens.
      responses:
        '204':
          description: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # PROFILES
  # ─────────────────────────────────────────────────────────
  /profiles:
    get:
      tags: [Profiles]
      summary: List profiles
      description: Retrieve a paginated list of user profiles.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProfiles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /profiles/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Profiles]
      summary: Get profile by ID
      responses:
        '200':
          description: Profile found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Profiles]
      summary: Update profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Profiles]
      summary: Delete profile
      responses:
        '204':
          description: Profile deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /profiles/me:
    get:
      tags: [Profiles]
      summary: Get current user profile
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # CLIENTS
  # ─────────────────────────────────────────────────────────
  /clients:
    get:
      tags: [Clients]
      summary: List clients
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedClients'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Clients]
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreate'
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeClient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /clients/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Clients]
      summary: Get client by ID
      responses:
        '200':
          description: Client found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeClient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Clients]
      summary: Update client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientUpdate'
      responses:
        '200':
          description: Client updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeClient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Clients]
      summary: Delete client
      responses:
        '204':
          description: Client deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # PROJECTS
  # ─────────────────────────────────────────────────────────
  /projects:
    get:
      tags: [Projects]
      summary: List projects
      description: Retrieve a paginated, filterable, sortable list of projects.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, on_hold, completed, archived]
        - name: client_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Projects]
      summary: Create project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /projects/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Projects]
      summary: Get project by ID
      responses:
        '200':
          description: Project found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Projects]
      summary: Update project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Projects]
      summary: Delete project
      responses:
        '204':
          description: Project deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /projects/{id}/buildings:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Projects, Buildings]
      summary: List buildings in a project
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: List of buildings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBuildings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /projects/{id}/requirements:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Projects, Requirements]
      summary: List requirements for a project
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRequirements'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /projects/{id}/experiences:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Projects, Experiences]
      summary: List experiences for a project
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of experiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExperiences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /projects/{id}/documents:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Projects, Documents]
      summary: List documents for a project
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDocuments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # BUILDINGS
  # ─────────────────────────────────────────────────────────
  /buildings:
    get:
      tags: [Buildings]
      summary: List buildings
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: building_type
          in: query
          schema:
            $ref: '#/components/schemas/BuildingType'
      responses:
        '200':
          description: List of buildings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBuildings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Buildings]
      summary: Create building
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildingCreate'
      responses:
        '201':
          description: Building created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeBuilding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /buildings/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Buildings]
      summary: Get building by ID
      responses:
        '200':
          description: Building found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeBuilding'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Buildings]
      summary: Update building
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildingUpdate'
      responses:
        '200':
          description: Building updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeBuilding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Buildings]
      summary: Delete building
      responses:
        '204':
          description: Building deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /buildings/{id}/floors:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Buildings, Floors]
      summary: List floors in a building
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of floors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFloors'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # FLOORS
  # ─────────────────────────────────────────────────────────
  /floors:
    get:
      tags: [Floors]
      summary: List floors
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: building_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of floors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFloors'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Floors]
      summary: Create floor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloorCreate'
      responses:
        '201':
          description: Floor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeFloor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /floors/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Floors]
      summary: Get floor by ID
      responses:
        '200':
          description: Floor found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeFloor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Floors]
      summary: Update floor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloorUpdate'
      responses:
        '200':
          description: Floor updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeFloor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Floors]
      summary: Delete floor
      responses:
        '204':
          description: Floor deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /floors/{id}/rooms:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Floors, Rooms]
      summary: List rooms on a floor
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of rooms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRooms'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # ROOMS
  # ─────────────────────────────────────────────────────────
  /rooms:
    get:
      tags: [Rooms]
      summary: List rooms
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: floor_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of rooms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRooms'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Rooms]
      summary: Create room
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreate'
      responses:
        '201':
          description: Room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /rooms/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Rooms]
      summary: Get room by ID
      responses:
        '200':
          description: Room found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRoom'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Rooms]
      summary: Update room
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomUpdate'
      responses:
        '200':
          description: Room updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Rooms]
      summary: Delete room
      responses:
        '204':
          description: Room deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # REQUIREMENTS
  # ─────────────────────────────────────────────────────────
  /requirements:
    get:
      tags: [Requirements]
      summary: List requirements
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/RequirementCategory'
        - name: detection_state
          in: query
          schema:
            $ref: '#/components/schemas/DetectionState'
      responses:
        '200':
          description: List of requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRequirements'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Requirements]
      summary: Create requirement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequirementCreate'
      responses:
        '201':
          description: Requirement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRequirement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /requirements/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Requirements]
      summary: Get requirement by ID
      responses:
        '200':
          description: Requirement found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRequirement'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Requirements]
      summary: Update requirement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequirementUpdate'
      responses:
        '200':
          description: Requirement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeRequirement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Requirements]
      summary: Delete requirement
      responses:
        '204':
          description: Requirement deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # EXPERIENCES
  # ─────────────────────────────────────────────────────────
  /experiences:
    get:
      tags: [Experiences]
      summary: List experiences
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of experiences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExperiences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Experiences]
      summary: Create experience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperienceCreate'
      responses:
        '201':
          description: Experience created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeExperience'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /experiences/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Experiences]
      summary: Get experience by ID
      responses:
        '200':
          description: Experience found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeExperience'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Experiences]
      summary: Update experience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperienceUpdate'
      responses:
        '200':
          description: Experience updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeExperience'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Experiences]
      summary: Delete experience
      responses:
        '204':
          description: Experience deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # SYSTEMS
  # ─────────────────────────────────────────────────────────
  /systems:
    get:
      tags: [Systems]
      summary: List systems
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/SystemCategory'
      responses:
        '200':
          description: List of systems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSystems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Systems]
      summary: Create system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemCreate'
      responses:
        '201':
          description: System created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSystem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /systems/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Systems]
      summary: Get system by ID
      responses:
        '200':
          description: System found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSystem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Systems]
      summary: Update system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemUpdate'
      responses:
        '200':
          description: System updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSystem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Systems]
      summary: Delete system
      responses:
        '204':
          description: System deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /systems/{id}/subsystems:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Systems, Subsystems]
      summary: List subsystems of a system
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of subsystems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubsystems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # SUBSYSTEMS
  # ─────────────────────────────────────────────────────────
  /subsystems:
    get:
      tags: [Subsystems]
      summary: List subsystems
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: system_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of subsystems
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubsystems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Subsystems]
      summary: Create subsystem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubsystemCreate'
      responses:
        '201':
          description: Subsystem created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSubsystem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /subsystems/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Subsystems]
      summary: Get subsystem by ID
      responses:
        '200':
          description: Subsystem found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSubsystem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Subsystems]
      summary: Update subsystem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubsystemUpdate'
      responses:
        '200':
          description: Subsystem updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSubsystem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Subsystems]
      summary: Delete subsystem
      responses:
        '204':
          description: Subsystem deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # EQUIPMENT
  # ─────────────────────────────────────────────────────────
  /equipment:
    get:
      tags: [Equipment]
      summary: List equipment instances
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: room_id
          in: query
          schema:
            type: string
            format: uuid
        - name: subsystem_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of equipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEquipment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Equipment]
      summary: Create equipment instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentCreate'
      responses:
        '201':
          description: Equipment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /equipment/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Equipment]
      summary: Get equipment by ID
      responses:
        '200':
          description: Equipment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Equipment]
      summary: Update equipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentUpdate'
      responses:
        '200':
          description: Equipment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Equipment]
      summary: Delete equipment
      responses:
        '204':
          description: Equipment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # EQUIPMENT LIBRARY
  # ─────────────────────────────────────────────────────────
  /equipment-library:
    get:
      tags: [Equipment Library]
      summary: Browse equipment library
      description: Search and filter the master equipment catalog.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: category
          in: query
          schema:
            type: string
        - name: manufacturer
          in: query
          schema:
            type: string
        - name: search
          in: query
          description: Full-text search across name, description, and tags
          schema:
            type: string
      responses:
        '200':
          description: Equipment library entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEquipmentLibrary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Equipment Library]
      summary: Add equipment to library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentLibraryCreate'
      responses:
        '201':
          description: Equipment added to library
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipmentLibrary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /equipment-library/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Equipment Library]
      summary: Get library equipment by ID
      responses:
        '200':
          description: Library equipment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipmentLibrary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Equipment Library]
      summary: Update library equipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentLibraryUpdate'
      responses:
        '200':
          description: Library equipment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEquipmentLibrary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Equipment Library]
      summary: Remove from library
      responses:
        '204':
          description: Library equipment removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /equipment-library/{id}/alternatives:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Equipment Library]
      summary: Get alternative equipment options
      description: Retrieve functionally equivalent equipment alternatives for value engineering.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Alternative equipment options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEquipmentLibrary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # ENGINEERING ENGINE
  # ─────────────────────────────────────────────────────────
  /engine/evaluate:
    post:
      tags: [Engineering Engine]
      summary: Evaluate a project
      description: Run the engineering evaluation engine against a project to generate recommendations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngineEvaluateRequest'
      responses:
        '200':
          description: Evaluation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEngineEvaluation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /engine/prescribe:
    post:
      tags: [Engineering Engine]
      summary: Generate prescription
      description: Generate a technical prescription based on evaluation results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnginePrescribeRequest'
      responses:
        '200':
          description: Prescription generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /engine/zones:
    post:
      tags: [Engineering Engine]
      summary: Generate technical zones
      description: Generate technical zone recommendations for a building or project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngineZonesRequest'
      responses:
        '200':
          description: Zone recommendations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTechnicalZones'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /engine/rules:
    get:
      tags: [Engineering Engine]
      summary: List engineering rules
      description: Retrieve all active engineering rules used by the evaluation engine.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: List of engineering rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEngineeringRules'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /engine/rules/{id}/test:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Engineering Engine]
      summary: Test an engineering rule
      description: Run a specific engineering rule against test input data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngineRuleTestRequest'
      responses:
        '200':
          description: Rule test results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeEngineRuleTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # PRESCRIPTIONS
  # ─────────────────────────────────────────────────────────
  /prescriptions:
    get:
      tags: [Prescriptions]
      summary: List prescriptions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending_approval, approved, rejected, superseded, implemented]
      responses:
        '200':
          description: List of prescriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPrescriptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Prescriptions]
      summary: Create prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionCreate'
      responses:
        '201':
          description: Prescription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /prescriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Prescriptions]
      summary: Get prescription by ID
      responses:
        '200':
          description: Prescription found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Prescriptions]
      summary: Update prescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionUpdate'
      responses:
        '200':
          description: Prescription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Prescriptions]
      summary: Delete prescription
      responses:
        '204':
          description: Prescription deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /prescriptions/{id}/approve:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [Prescriptions]
      summary: Approve prescription
      description: Approve a prescription, optionally with comments.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionApprovalRequest'
      responses:
        '200':
          description: Prescription approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /prescriptions/{id}/reject:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [Prescriptions]
      summary: Reject prescription
      description: Reject a prescription with a reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionRejectionRequest'
      responses:
        '200':
          description: Prescription rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /prescriptions/{id}/supersede:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [Prescriptions]
      summary: Supersede prescription
      description: Mark a prescription as superseded by a newer version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionSupersedeRequest'
      responses:
        '200':
          description: Prescription superseded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /prescriptions/{id}/export:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Prescriptions]
      summary: Export prescription
      description: Export a prescription in the specified format.
      parameters:
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [pdf, docx, json, markdown]
        - name: include_explanations
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Exported prescription
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopePrescription'
            text/markdown:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # TECHNICAL ZONES
  # ─────────────────────────────────────────────────────────
  /technical-zones:
    get:
      tags: [Technical Zones]
      summary: List technical zones
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: building_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of technical zones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTechnicalZones'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Technical Zones]
      summary: Create technical zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnicalZoneCreate'
      responses:
        '201':
          description: Technical zone created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTechnicalZone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /technical-zones/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Technical Zones]
      summary: Get technical zone by ID
      responses:
        '200':
          description: Technical zone found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTechnicalZone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Technical Zones]
      summary: Update technical zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnicalZoneUpdate'
      responses:
        '200':
          description: Technical zone updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeTechnicalZone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Technical Zones]
      summary: Delete technical zone
      responses:
        '204':
          description: Technical zone deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # PROCUREMENT / VALUE ENGINEERING
  # ─────────────────────────────────────────────────────────
  /value-engineer:
    post:
      tags: [Procurement]
      summary: Run value engineering analysis
      description: Analyze a set of equipment or a project for cost optimization opportunities.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueEngineerRequest'
      responses:
        '200':
          description: Value engineering results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeValueEngineerResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # SUPPLIERS
  # ─────────────────────────────────────────────────────────
  /suppliers:
    get:
      tags: [Suppliers]
      summary: List suppliers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: category
          in: query
          schema:
            type: string
        - name: is_certified
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of suppliers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSuppliers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Suppliers]
      summary: Create supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierCreate'
      responses:
        '201':
          description: Supplier created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSupplier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /suppliers/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Suppliers]
      summary: Get supplier by ID
      responses:
        '200':
          description: Supplier found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSupplier'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Suppliers]
      summary: Update supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierUpdate'
      responses:
        '200':
          description: Supplier updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeSupplier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Suppliers]
      summary: Delete supplier
      responses:
        '204':
          description: Supplier deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # DOCUMENTS
  # ─────────────────────────────────────────────────────────
  /documents/generate/{type}:
    parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum: [proposal, specification, report, bom, contract, prescription_summary, project_summary]
    post:
      tags: [Documents]
      summary: Generate document
      description: Generate a document of the specified type from project data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentGenerateRequest'
      responses:
        '200':
          description: Document generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeDocument'
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # INTEGRATIONS
  # ─────────────────────────────────────────────────────────
  /integrations:
    get:
      tags: [Integrations]
      summary: List integrations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, configured, testing, active, error, disabled]
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIntegrations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Integrations]
      summary: Create integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationCreate'
      responses:
        '201':
          description: Integration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeIntegration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /integrations/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Integrations]
      summary: Get integration by ID
      responses:
        '200':
          description: Integration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeIntegration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [Integrations]
      summary: Update integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationUpdate'
      responses:
        '200':
          description: Integration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeIntegration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Integrations]
      summary: Delete integration
      responses:
        '204':
          description: Integration deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /integrations/{id}/test:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [Integrations]
      summary: Test integration
      description: Test the connectivity and configuration of an integration.
      responses:
        '200':
          description: Test results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeIntegrationTestResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /integrations/{id}/sync:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [Integrations]
      summary: Trigger integration sync
      description: Manually trigger a data sync for the integration.
      responses:
        '202':
          description: Sync initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeIntegrationSyncStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # AI SERVICES
  # ─────────────────────────────────────────────────────────
  /ai/nlp/parse:
    post:
      tags: [AI Services]
      summary: NLP parse
      description: Parse natural language input into structured engineering requirements or commands.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NlpParseRequest'
      responses:
        '200':
          description: Parsed intent and entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeNlpParseResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai/voice/transcribe:
    post:
      tags: [AI Services]
      summary: Voice transcribe
      description: Transcribe audio to text. Accepts audio file upload or WebSocket stream.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoiceTranscribeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceTranscribeUrlRequest'
      responses:
        '200':
          description: Transcription result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeVoiceTranscribeResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai/voice/synthesize:
    post:
      tags: [AI Services]
      summary: Voice synthesize
      description: Synthesize text into speech audio.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSynthesizeRequest'
      responses:
        '200':
          description: Synthesized audio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeVoiceSynthesizeResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai/predict:
    post:
      tags: [AI Services]
      summary: AI prediction
      description: Get AI-driven predictions for a given context (e.g., cost estimation, system recommendations).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiPredictionRequest'
      responses:
        '200':
          description: Prediction result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiPredictionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # AI LOCAL SERVERS
  # ─────────────────────────────────────────────────────────
  /ai-local-servers:
    get:
      tags: [AI Local Servers]
      summary: List AI local servers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: List of AI local servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiLocalServers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [AI Local Servers]
      summary: Register AI local server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLocalServerCreate'
      responses:
        '201':
          description: AI local server registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLocalServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai-local-servers/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [AI Local Servers]
      summary: Get AI local server by ID
      responses:
        '200':
          description: AI local server found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLocalServer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [AI Local Servers]
      summary: Update AI local server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLocalServerUpdate'
      responses:
        '200':
          description: AI local server updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLocalServer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [AI Local Servers]
      summary: Deregister AI local server
      responses:
        '204':
          description: AI local server deregistered
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai-local-servers/{id}/health:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [AI Local Servers]
      summary: Check AI local server health
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLocalServerHealth'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # AI LEARNED PATTERNS
  # ─────────────────────────────────────────────────────────
  /ai-patterns:
    get:
      tags: [AI Patterns]
      summary: List learned patterns
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: domain
          in: query
          schema:
            type: string
        - name: is_validated
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of learned patterns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiLearnedPatterns'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [AI Patterns]
      summary: Create pattern (manual entry or seed)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLearnedPatternCreate'
      responses:
        '201':
          description: Pattern created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLearnedPattern'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai-patterns/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [AI Patterns]
      summary: Get pattern by ID
      responses:
        '200':
          description: Pattern found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLearnedPattern'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags: [AI Patterns]
      summary: Update pattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiLearnedPatternUpdate'
      responses:
        '200':
          description: Pattern updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLearnedPattern'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [AI Patterns]
      summary: Delete pattern
      responses:
        '204':
          description: Pattern deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ai-patterns/{id}/validate:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    post:
      tags: [AI Patterns]
      summary: Validate pattern
      description: Mark a learned pattern as validated by a domain expert.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiPatternValidateRequest'
      responses:
        '200':
          description: Pattern validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeAiLearnedPattern'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # EXPLANATION LOGS
  # ─────────────────────────────────────────────────────────
  /explanation-logs:
    get:
      tags: [Explanation Logs]
      summary: List explanation logs
      description: Retrieve AI decision explanations for auditing and transparency.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: entity_type
          in: query
          schema:
            type: string
        - name: entity_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of explanation logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExplanationLogs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /explanation-logs/{id}:
    parameters:
      - $ref: '#/components/parameters/UUIDPathParam'
    get:
      tags: [Explanation Logs]
      summary: Get explanation log by ID
      responses:
        '200':
          description: Explanation log found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvelopeExplanationLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────
  # DOMAIN EVENTS
  # ─────────────────────────────────────────────────────────
  /domain-events:
    get:
      tags: [Domain Events]
      summary: List domain events
      description: Retrieve the event audit log.
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - name: event_type
          in: query
          schema:
[...]
